*{{ data.title }}*
*{{ data.date }}*

*Technical:*{% for information in data.data %}{% if information.type == 'technical' %}
• [{{information.title}}]({{information.link}}){% endif %}{% endfor %}

*Editorial:*{% for information in data.data %}{% if information.type == 'editorial' %}
• [{{information.title}}]({{information.link}}){% endif %}{% endfor %}

*Headlines:*{% for information in data.data %}{% if information.type == 'headlines' %}
• [{{information.title}}]({{information.link}}){% endif %}{% endfor %}

This information is gather from kubeweekly.io
Cloud Native Indonesia Community